Repository Haato3o/HunterPie, pull requests merged in 2020-11, with the labels that each got.

#112 Update ko-kr.xml
  HunterPie/Languages/ko-kr.xml
Labels: HunterPie: Localization

#111 Damage Plot for Damage Meter Widget
  HunterPie/Core/Client/UserSettings.cs
  HunterPie/GUI/Widgets/DPSMeter/Meter.xaml
  HunterPie/GUI/Widgets/DPSMeter/Meter.xaml.cs
  HunterPie/GUI/Widgets/DPSMeter/Parts/DamagePlot.xaml
  HunterPie/GUI/Widgets/DPSMeter/Parts/DamagePlot.xaml.cs
  HunterPie/GUI/Widgets/DPSMeter/Parts/MemberPlotModel.cs
  HunterPie/GUIControls/NewSettingsWindow.xaml
  HunterPie/GUIControls/Settings.xaml.cs
  HunterPie/HunterPie.csproj
  HunterPie/Languages/en-us.xml
Labels: Enhancements, Widget: Damage Meter

#113 Adds translations of damage plot
  HunterPie/Languages/ko-kr.xml
Labels: HunterPie: Localization

#114 Damage plot & slider control improvements
  HunterPie/Core/Client/UserSettings.cs
  HunterPie/Core/Enums/DamagePlotMode.cs
  HunterPie/GUI/Widgets/DPSMeter/Parts/DamagePlot.xaml
  HunterPie/GUI/Widgets/DPSMeter/Parts/DamagePlot.xaml.cs
  HunterPie/GUI/Widgets/DPSMeter/Parts/MemberPlotModel.cs
  HunterPie/GUIControls/Custom Controls/MinimalSlider.xaml
  HunterPie/GUIControls/Custom Controls/MinimalSlider.xaml.cs
  HunterPie/GUIControls/NewSettingsWindow.xaml
  HunterPie/GUIControls/NewSettingsWindow.xaml.cs
  HunterPie/GUIControls/Settings.xaml.cs
  HunterPie/HunterPie.csproj
  HunterPie/Hunterpie.xaml
  HunterPie/Languages/en-us.xml
Labels: Enhancements, Widget: Damage Meter

#117 Update ko-kr.xml
  HunterPie/Languages/ko-kr.xml
Labels: HunterPie: Localization

#118 Improved plugin installation experience
  HunterPie/HunterPie.Plugins/PluginManager.cs
  HunterPie/HunterPie.Plugins/PluginUpdate.cs
  HunterPie/HunterPie.Plugins/UpdateResult.cs
  HunterPie/HunterPie.csproj
  HunterPie/Hunterpie.xaml.cs
  HunterPie/Languages/en-us.xml
  HunterPie/Resources/Resources.xaml
Labels: Enhancements, HunterPie: Core
