Repository Haato3o/HunterPie, pull requests merged in 2020-06, with the labels that each got.

#60 Renamed "unknown" monster parts
  HunterPie/HunterPie.Resources/Data/MonsterData.xml
  HunterPie/Languages/en-us.xml
Labels: HunterPie: Data, HunterPie: Localization

#69 Update ru-ru.xml
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization

#70 More part break fixes
  HunterPie/HunterPie.Resources/Data/MonsterData.xml
Labels: HunterPie: Data

#71 Add missing French translations
  HunterPie/Languages/fr-fr.xml
Labels: HunterPie: Localization

#80 Update ru-ru.xml
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization
