Repository Haato3o/HunterPie, pull requests merged in 2020-05, with the labels that each got.

#54 Update ru-ru.xml
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization

#55 Some fixes
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization

#57 Added/Fixed some monster part breaks
  HunterPie/HunterPie.Resources/Data/MonsterData.xml
Labels: HunterPie: Data

#61 Add Capacity for Themes to customize Monster Container
  HunterPie/GUI/Widgets/Monster Widget/MonsterContainer.xaml
  HunterPie/Resources/DefaultTheme.xaml
  docs/themes.md
Labels: Design, Enhancements

#62 Update ru-ru.xml
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization

#67 Updates pt-br.xml
  HunterPie/Languages/pt-br.xml
Labels: HunterPie: Localization
