Repository Haato3o/HunterPie, pull requests merged in 2020-04, with the labels that each got.

#35 Fixes part break bars in some monsters
  HunterPie/Core/Monster/MonsterData.xml
Labels: HunterPie: Data

#37 Updated to latest version
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization

#39 Fixes Raging Brachydios
  HunterPie/Core/Monster/MonsterData.xml
Labels: HunterPie: Data

#42 Updated to current version
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization

#45 Updated to version 1.0.3.88
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization

#46 Remove XML re-parsing from Player Abnormalities
  HunterPie/Core/Client/GStrings.cs
  HunterPie/Core/LPlayer/Abnormalities.cs
  HunterPie/Core/LPlayer/Abnormality.cs
  HunterPie/Core/LPlayer/AbnormalityData.cs
  HunterPie/Core/LPlayer/AbnormalityInfo.cs
  HunterPie/Core/LPlayer/Player.cs
  HunterPie/GUI/Widgets/Abnormality Widget/AbnormalityContainer.xaml.cs
  HunterPie/GUI/Widgets/Abnormality Widget/AbnormalityTraySettings.xaml.cs
  HunterPie/GUIControls/Custom Controls/BuffBarSettingControl.xaml.cs
  HunterPie/HunterPie.Resources/Data/AbnormalityData.xml
  HunterPie/HunterPie.csproj
Labels: HunterPie: Core, Widget: Abnormalities Tray

#47 Add support for part breaks
  .editorconfig
  HunterPie/Core/Args.cs
  HunterPie/Core/Monsters/Monster.cs
  HunterPie/Core/Monsters/MonsterData.cs
  HunterPie/Core/Monsters/MonsterInfo.cs
  HunterPie/Core/Monsters/Part.cs
  HunterPie/GUI/Widgets/Monster Widget/Parts/MonsterPart.xaml
  HunterPie/GUI/Widgets/Monster Widget/Parts/MonsterPart.xaml.cs
  HunterPie/GUIControls/Custom Controls/MinimalHealthBar.xaml.cs
  HunterPie/HunterPie.Resources/Data/MonsterData.xml
  HunterPie/Resources/DefaultTheme.xaml
  HunterPie/Themes/CutePie.xaml
  HunterPie/Themes/PinkyPie.xaml
  HunterPie/Themes/RedMonsterBar.xaml
Labels: Widget: Monster

#48 Updated to v1.0.3.89
  HunterPie/Languages/ru-ru.xml
Labels: HunterPie: Localization
